@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased font-sans;
  }
}
@keyframes scan {
  0% { transform: translateY(0); }
  50% { transform: translateY(192px); }
  100% { transform: translateY(0); }
}